.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  background-color: #fff;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 4px;

}

.card__image {
  width: 100%;
  border-radius: 20px;
}