.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  position: absolute;
  t28
}

.modal__content {
  background-color: #FFFFFF;
  position: relative;
}