.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__title {
  margin: 0;
  width: 95px;
height: 20px;
top: 221px;
left: 500px;

}

.modal__content {
  background-color: #FFFFFF;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 24px 0 24px;
}

.modal__input {
  display: block;
  width: 440px;
  height: 24px;
  top: 293px;
  left: 500px;
  border: 1px;
  background: #FFFFFF;
  border: 1px solid #000000;
}


.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.modal__label_type_radio {

}

.modal__submit {}