.footer {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 171px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: black;
}