.footer {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  padding: 171px 0 24px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: black;
}