.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  padding: 0;


}

.modal__footer {
  display: flex;
  flex-direction: column;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.modal__image {
  max-width: 498px;
  max-height: 498px;

}

.modal__caption {
  margin: 0;
}

.modal__weather 