.modal__content_type_image {
  background-color: #fff;
  border-radius: 20px;
  max-height: 436px;
  max-width: 610px;
  padding: 28px 28px 36px;
  position: relative;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
}

.modal__footer {
  display: flex;
}

.modal__image {
  position: absolute;
  width: 498px;
}

.modal__caption {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

}