.modal__content_type_image {
  background-color: #fff;
  border-radius: 20px;
  max-height: 436px;
  max-width: 496px;
  padding: 28px 28px 36px;
  position: fixed;
  width: 100%;
}

.modal__footer {
  display: flex;
}

.modal__image {
  position: absolute;
  width: 498px;
  
  
}