.modal__preview {
  background-color: #fff;
  border-radius: 20px;
  max-height: 610px;
  max-width: 496px;
  padding: 0;
  position: fixed;
  width: 100%;
  overflow: ;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.modal__footer-info {
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;

}

.modal__caption {
  margin: 20px 430px 12px 32px;
  font-size: 20px;
  width: 100%;
}

.modal__weather {
  margin: 0 351px 32px 32px;
  width: 100%;
}

.modal__delete-btn {
  width: 101px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-family: "CabinetGrotesk-m";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  padding: 0;
  position: relative;
  bottom: 96px;
  left: 365px
}