.modal__content_type_image {
max-width: 498px;
max-height: 610px;
padding: 0;

  
}

.modal__footer {
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
 
}

.modal