.modal__content_type_image {
  display: flex;
  flex-direction: column;
  padding: 0;


}

.modal__footer {
  display: flex;
  flex-direction: column;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.modal__image {
  max-width: 498px;
  max-height: 498px;

}

.modal__caption {
  margin: 20px 430px 12px 32px;
  font-size: 20px;
  width: 100%;
}

.modal__weather {
  margin: 0 351px 32px 32px;
  width: 100%;
}

.modal__delete-btn {
  weight
  background-color: transparent;
  border: none;
  font-family: "CabinetGrotesk-m";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  padding: 0;
}