.switch {
  display: flex;
  position: relative;
  margin-left: 666px;
  align-items: center;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
  
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  position: absolute;
  text-align: center;
  color: white;
  cursor: pointer;
}

.switch__slider-F {
  left: 28px;
}

.switch__slider-C {
  left: 0px;
}

