.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 15px;
  left: 15px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.card__name {
  background-color: transparent;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 4px;

}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.card__like-button {
  width: 18px;
  height: 15px;
  background-image: "../../assets/like-button.svg";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px;
  background-color: transparent;
  cursor: pointer;
}
.card__like-button_active {
  background-image: "../../assets/like-button-active.svg";
}