.header {
  display: flex;
  align-items: center;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin-left: auto;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__usern