.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-weight: ;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}