.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  background-color: transparent;
}

.header__auth-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__register-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  background-color: transparent;
}

.header__login-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  background-color: transparent;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__username {
  font-size: 20px;
  color: black;
  width: 157px;
  height: 25px;
  font-weight: 700;
  line-height: 24.8px;
  margin: 0;
  font-family: Cabinet Grotesk;

}