.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 229px;
  height: 138px;
}

.sidebar__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%
}

.sidebar__username {
  width: 157px;
  height: 25px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0;
  color: black;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sidebar__button {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: black;
  background-color: transparent;
}