.clothes-section {
  
}

.clothes-section__header {
  display: flex;
  align-items: center;
}

.clothes-section__text {
  width: 94px;
  height: 25px;
}
.clothes-section__button {
  width: 88px;
  height: 25px;
}

.clothes