.clothes-section {
  
}

.clothes-section__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.clothes-section__text {
  width: 94px;
  height: 25px;
  margin: 0;
  top: 135px;
}
.clothes-section__button {
  width: 88px;
  height: 25px;

}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  width: 1015px;
  height: 676px;
  gap: 20px;
  margin: 0;
  padding: 0;
}