/* .clothes-section {
  
} */

.clothes-section__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.clothes-section__text {
  width: 94px;
  height: 25px;
  font-size: 20px;
  font-weight: 700;
  /* margin: 135px 0 0; */
}
.clothes-section__button {
  /* width: 88px;
  height: 25px; */
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: transparent;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  /* width: 1015px;
  height: 676px; */
  row-gap: 20px;
  column-gap: 20px;
  margin: 0;
  padding: 0;
}